Source: lliurex-firefox-settings
Section: utils
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, Enrique Medina Gremaldos <lliurex_devel4@edu.gva.es>, David Montalva Furio <dmontalf@gmail.com>, Héctor García Huerta <lliurex_devel1@edu.gva.es>, José Alfredo Múrcia Andrés <joamuran@gmail.com>, Daniel duran Vecino <daduve@gmail.com>, Juanma Navarro <juanma1980@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.9.3

Package: lliurex-firefox-settings
Architecture: all
Depends: ${misc:Depends}, lliurex-on-fire, firefox(>=59)
Conflicts: lliurex-firefox-settings-client (<= 0.4), lliurex-dgti-conf-firefox
Description: Contains lliurex-firefox-settings
 This package contains the : lliurex-firefox-settings 
 resources.

